include ./partials/_head.pug
include ./partials/_navigation.pug
body
  block message
    if message
      .alert(class='alert-' + message.type)
        p #{message.text}

  block content


  script(
    async,
    defer,
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTL50DdKgmlhWvZ7b-kbCFt4N1hdZ7EvY&callback=initMap"
    )

  script(
    async,
    defer,
    src="/static/js/map.js"
    )
